# Sales Prediction Task

In [13]:
# Import libraries
import pandas as pd
import numpy as np
from datasets import load_dataset
import matplotlib.pyplot as plt
import plotly.graph_objects as go 
import warnings 
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split

## Exploratory Data Analysis (EDA)

In [2]:
# Read dataset
sales_df = pd.read_csv('advertising.csv')

In [3]:
# Check dataset head, statistical measures and important information 
def glimpse(df):
    print(f'Observations: {df.shape[0]} rows \nAttributes: {df.shape[1]} columns')
    print(f'Missing Values: {df.isnull().sum().sum()} values')
    print("-" * 100)
    display(df.head())
    print("-" * 100)
    display(df.describe())
    print("-" * 100)
    display(df.info())
    
df = sales_df
glimpse(sales_df)

Observations: 200 rows
Attributes: 4 columns
Missing Values: 0 values
----------------------------------------------------------------------------------------------------

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

----------------------------------------------------------------------------------------------------

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

----------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

None

## Data Visualization

In [6]:
sales_df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

**Note:** GitHub does not render interactive graphs. View the static visualizations below or run the code locally for full interactivity.

## Preprocessing

### Preprocessing: Handling Missing Data

In [7]:
# Check  missing data
sales_df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [8]:
# Display the number of unique values for each variable
for column in sales_df.columns:
    unique_values = sales_df[column].nunique()
    print(f'{column}:{unique_values}')

TV:190
Radio:167
Newspaper:172
Sales:121

### Preprocessing: Assess the correlation between variables and target variable

In [9]:
# Select columns for ML
sales_ML = sales_df[['TV','Radio','Newspaper','Sales']]
sales_ML.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [10]:
df = sales_ML

### Preprocessing: Split data

In [11]:
# Split the data X, and y
X = sales_ML.drop('Sales', axis=1)
y = sales_ML['Sales']

In [14]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Machine Learning

### Model 1:

In [25]:
models = ['', '', '']

scores = []

In [15]:
#Fit Model

#Predict


#Evaluate

In [16]:
#Cross Validation

### Model 2:

In [17]:
#Fit model


#Predict

                            
#Evaluate

In [18]:
#Cross Validation

### Model 3:

In [19]:
#Fit model


#Predict


#Evaluate

In [20]:
#Cross Validation

## Algorithms Comparison: Sales Dataset

In [ ]:
# Models Comparison
df2 = pd.DataFrame()
df2.index = models
df2['Scores'] = scores
df2

## Operationalizing ML: The Inference Pipeline

In [34]:
TV = int(input('Enter the Passenger Class: '))
Radio = int(input('Enter the N of relatives aboard: '))
Newspaper = float(input('Enter the Fare paid: '))

Enter the Passenger Class: 1
Enter the N of relatives aboard: 0
Enter the Fare paid: 71.000
Enter the Passenger Gender (Male = 1 / Female = 0): 0
Enter the Port of Embarkation (Cherbourg = 1, Queenstown = 2, Southampton = 3 ): 3

In [35]:
# Set Embark answer 
Embarked_Q = 0
Embarked_S = 0

if Embarked == 1:
    Embarked_Q == 0
    Embarked_S == 0
elif Embarked == 2:
    Embarked_Q == 1
    Embarked_S == 0
elif Embarked == 3:
    Embarked_Q == 0
    Embarked_S == 1    
    

# Generate unseen data accordingly with inputs
input_list = [Pclass, Parch, Fare, Sex, Embarked_Q, Embarked_S]
input_list

[1, 0, 71.0, 0, 0, 0]

In [36]:
#Predict on unseen data 
Prediction = svm_model.predict(scaler.transform([input_list]))

if Prediction == 0:
    print(f'Unfortunately, this passenger would have a {svm_accuracy:.2%} chance of not surviving.')
else:
    print(f'Great News! This passenger would have a {svm_accuracy:.2%} chance of surviving.')

Great News! This passenger would have a 80.90% chance of surviving.

## Conclusion

In analyzing the Sales Prediction Dataset, I navigated through data visualization, preprocessing, and machine learning model selection. The choice of (Model names) emerged as the top performer, supported by key steps:

- **Data Visualization:** Uncovered insights into survival factors through visualizations.

- **Data Preprocessing:** Handled missing data, encoded categorical features, and identified significant variables using statistical tests.

- **Machine Learning Models:** Trained (models names and performance).

- **Inference Pipeline:** Implemented an interactive system for predicting sales based on inputs.

- **Next Steps:** Acknowledged the need for continuous improvement.